.spyproject
__pycache__
*.xml
*.sqlite
*.iml
*.xml
*.iml
*.xls
*.xlsx
*.pem

.idea/*
.vscode/*
.vs/*
config/*
software_to_install/*
Trader/.idea/*
Trader/__pycache__/*
script/.vs/*

*.png
*.iml
*.exe
*.pyc
*.py___jb_tmp___
*.db
~$开发任务列表.pptx
*.txt
*.txt
*.log
*.log
*.bak
*.pbk
*.ini
*.spec
config/845B2000
config/91DA2000
config/AE4A2000
config/44003000
*.lnk
script_strategy/tmp.png
script_user1_common/tmp.png
script_strategy/tmp.png
